body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:#011635;
}

ul{
    padding: 0px !important;
}
.Menu_incial {
    width: 100%;
    background-color:#111111;
    height: 60px;
    padding: 1%;
}
.Menu ul a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;

    /* border-radius: 8px;
    background-color: #f5f1f1; */




}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo_tipo {
    float: left;
    padding: 4px;
    width: 70%;
}
.Redes_sociais ul li {
    margin-left: 15px ;
    background-color: white;
    border-radius: 8px;
    display: inline-block;
    list-style: none;
}
.Redes_sociais {
    width: 20%;
    float: right;
}
.Redes_sociais ul, a:hover{
    color: #2c3feb;
}

.Header_2{
    background-color: #f0ffff;
    width: 980px;
    /* margin: 0 auto; */
    padding: 0px 
}
.Menu_links{
    height: 70px;
    margin-top: 20px;
    text-align: center;
    /* border-bottom: 3px solid #fff;  */
    background-color:#011635;
    
}
.Menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 20px;
    height: 35px;
}
.Menu ul li:hover {
    font-size: 22%;
    border-bottom: 2px solid #0a1685;
}

.Menu ul li a:hover{
    color: rgb(34, 184, 243);
    
}

.Menu ul  a {
    color: #f7e4e4;
    text-decoration: dotted;
    font-size: 18px;
    text-transform:uppercase;
    
}
.Menu {
    width: 70%;
    float: left;
}
    
.Pesquisa {
    text-align: center;
    width: 30%; 
    float: right;
}
.Pesquisa input {      
    background-image: url('../IMAGENS/pesquisa.png') ; 
    background-repeat: no-repeat;
    background-position: 95%;
    margin-top: 10px; 
    width: 150px;
    height: 18px; 
    padding: 3px;
    border: 1px solid #d6d6d6 ;

}
.Coluna_em_100{
    width: 100%;
    float: left;
    /* position: relative; */
}
button.slick-prev{
     font-size: 0px;
     border: none;
     height: 51px;
     width: 25px;
     background-color: transparent;
     background-image: url('../IMAGENS/Seta_volta.png');
     position: absolute;
     z-index: 9;
     top: 40%;
     left: 1%;
}
button.slick-next{
    font-size: 0px;
    border: none;
    height: 51px;
    width: 25px;
    background-color: transparent;
    background-image: url('../IMAGENS/Seta_frente.png');
    position: absolute;
    z-index: 9;
    top: 40%;
    right: 1%;    
}
.slick-list{
    width: 100%!important;
}
.slick-initialized{
    overflow: hidden;
}
.slick-dots li button{
    font-size: 0px;
    border: 3px solid #ffffff;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 92%;   
}
.slick-dots li{
    display: inline-block;
    padding-left: 10px;
}
li.slick-active button {
    background: #0cd0e2 ;
}

/*  */
.search-box{
    position: absolute;
    top: -18px;
    left: 70%;
    /* transform: translate(-10% , -10%); */
    /* background-color: rgb(0, 0, 0); */
    background-color: white;
    height: 40px;
    padding: 6px; 
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}
.search-text{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: rgb(0, 0, 0);
    line-height: 20px;
    /* width: 0; */
    /* transition: .5s; */
    font-family: Arial, Helvetica, sans-serif;
}
    .line-chart{
        background-color: #fff;
        height: 0;
        width: 200px;

    }

:-webkt-input-placeholder{
 color: #542b1e;
}
.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    background: #0a1b0a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 05s;
    
}
.search-box:hover > .search-text{
    padding: 0 6px;
}
.search-box > .search-btn{
    background: rgb(44, 4, 4);
}

.cabeçalho > h2{
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #fff;
    padding: 50px;
    color: #011635;
}
.cabeçalho p{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: fantasy;
    padding: 40px;
}
.rodape{
    /* background: #111111; */
    color: #fff;
    font-size: 16px;
    margin: 0%;
    padding: 0%;
    margin-top: 60% ;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',Verdana, Geneva, Tahoma, sans-serif Arial, sans-serif;
    justify-content: center;
    align-items: center;
    }
    h2{
        background: #ddd;
        font-size: 20px;
        height: 0;
    }

    /*  Pagina de Listagem  */
    /* ul, li{
      border: 2px solid red ;  
    } */


    .titulo-noticia{
       font-size: 16px;
       font-family:Arial, Helvetica, sans-serif;
       border: 2px solid #0a1b0a; 
       width: 450px;
       background: #79f393;
    }
    .img-noticia{
        max-width: 50%;
        padding: 5px;
        height: 40%;
        object-fit: contain;
    }

    .resumo-noticia{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        
    }

    .url-noticia{
        background: #2c3feb;
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
        border: 2px solid #666;
        
    }
    .url-noticia:hover{
            background: #f13232;
            color: rgb(15, 15, 15);
            font-weight: bold;
            border-color: #B1B1B1;
                    
    }

    /* Rodape */
    .footer{
        height: 150px;
        background: #0b3;
    }
    .footer h2{
        font-size: 20px;
        font-weight: bold;
        text-transform: unset;
        margin-top: 20px;
        text-align: left;
        color: white;
    }
    
    .footer p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: lighter;
        text-align: left;
        text-transform: unset;
        color: black;
        margin-top: 10px;
    
    }



    .localizacao {
        height: 550px;        
    }

    
    .container-localizacao h2{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top:50px;
        color: #fff;
        text-align: center;
        margin-bottom: 12%;
        
    }

    .container-localizacao p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: lighter;
        text-align: center;
        text-transform: uppercase;
        color: #f81717;
        margin-top: 10px;

    }

    
    .mapagoogle{
        margin-top: 30px;
    }

    /* Tamanhos de icones */
    .icon-size{
        font-size: 200px !important; 
        text-align: center;
    }
    .buttom-border-radius{
        border-radius: 15%;
        height: 50px;
        width: auto;
    }


    .card-title{
        text-align: center;
    }

    .card-text{
        font-size: 14px;
        color: #0a1685;
    }
    #artigo{
        background-color: rgb(28, 29, 28);
        color: #fff;
    }
    .iconify:hover{
        background-color:none;
        color: #0a1685;
        cursor: pointer;

    }

    .contato{
        margin-bottom: 100%;
    }